repos:
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: pytest-unit
        name: pytest unit tests
        entry: pytest
        args: ["tests/unit"]
        language: system
        pass_filenames: false

      - id: pytest-integration
        name: pytest integration tests
        entry: pytest
        args: ["tests/integration"]
        language: system
        pass_filenames: false
